 /* TO P of attractive: font-size: clamp(1rem, 1.5vw, 1.25rem);*/
/*
extensões para trabalho:

Auto Rename Tag
IntelliCode
Code Spell Checker
Live Sass Compiler
Live Server
Live Share
Material Icon Theme
Rainbow Brackets
Salvar css::after

object-fit:cover*/
/*HTML CARD

<section class="section-cards">
         <div class="cards">
            <div class="card card1">
               <img src="/assets/logo/logo3.png" alt="">
               <h3 class="title-m">Chat com profissionais</h3>
               <p class="par-m">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias quod voluptatem
                  saepe id
                  nihil doloremque praesentium corrupti maiores, odio laboriosam?</p>
               <button class="card-btn">Saiba Mais</button>
            </div>
            <div class="card card2">
               <img src="/assets/logo/logo3.png" alt="">
               <h3 class="title">Profissões Em Alta</h3>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias quod voluptatem saepe id
                  nihil doloremque praesentium corrupti maiores, odio laboriosam?</p>
               <button class="card-btn">Saiba Mais</button>
            </div>

         </div>
      </section>

      CSS CARD

      
.section-cards{
    margin: auto;
    width: 100%;
    background-color: lightgray;
    border-radius: 10px;
}

.cards{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
}

.card{
    max-width: 30%;min-width: 300px;
    border-radius: 10px;
    margin: 1%;
    padding: 2%;

    position: relative;
    display: flex;flex-direction: column;align-items: center;justify-content: center;

    background:linear-gradient( to bottom, #04081f, #091241);
    color: white;
    text-shadow: 0 0 1px black;

    transition: all .7s;
}

.card p{
    padding: 5% 2%;
    color: #c6c6c5;
    letter-spacing: 1px;
    
}

.card:hover{
    transform: translateY(-10%) scale(120%);
    filter: brightness(120%) drop-shadow(0 0 5px gray);
}

.card img{
    width: 60%;
    filter: invert(100%);
    filter: drop-shadow(0 0 1px white);
    transition: filter 1s;

}

.card:hover img{
    filter: drop-shadow(0 0 70px white);
}

.card-btn{
    margin: 2%;
    padding: 2% 5%;
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid $primary-color;
    background: transparent;
    color: $primary-color;
    
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;

    transition: all 0.3s;
}

.card-btn:hover{
    color: $secondary-color;
    background: transparent;
    box-shadow: 0 0 10px solid white;
}
*/
/*Nav-logo-----------------------------------------------*/
/*
.nav-logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 65px;
    width: 65px;
    background: white url(/assets/logo/logo3.png) center bottom no-repeat;
    background-size: 95%;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 8px darkgray;
    transition: height .7s ease-in-out;
    z-index: 10;
}

.nav-logo:hover{
    height: 80vh;
    cursor: pointer;
    pointer-events: all;
}
*/
/*# sourceMappingURL=readme.css.map */