@import url(../default/style.css);
@import url(../default/navbar.css);
@import url(../default/footer.css);
/*-------------------------------------------Big-Fathers-----------------------------------------------------*/
body{
    color: white;
}

p{
    color: #242424;
}
header{
    position: relative;
    height: 100vh; width: 100%;
    display: flex; align-items: center;
    background:#121212 ;
    color: white;
}

    main{padding: 2%; margin: 0;}


/*Atractive-------------------------------------------------------------------------------------------------*/
.atractive{
    display: flex;
    align-items: center;
    z-index: 0;
}

.atractive-text{
    position: relative;
    display: flex;flex-direction: column; align-items: flex-start;justify-content: center;
    height: 45vh; 
    background: transparent;
    opacity: 0;z-index: 0;
    animation: attractive-open 2s 1.8s ease-in-out forwards; 
}

@keyframes attractive-open{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.atractive h2{

    font-size: clamp(5rem, 5vw + 3rem, 10rem);
    line-height: 100%;
    font-weight: 600;
    font-family: var(--exported-font);    
    z-index: 0;
    color: #fff;
    
}

.atractive p{
    font-size: 24px;
    color: #d6d6d6;
    opacity: 0;
    z-index: 0;
    font-weight: 200;
    animation: back-to-default .8s 1.9s cubic-bezier(.39,1.27,.77,1.25) forwards;
}
.atractive a{
    opacity: 0; cursor: pointer;
    padding: .4rem 1rem;
    text-transform: uppercase;
    background: var(--primary-low);
    border: 1px double var(--primary-low);
    color: #121212;
    margin:5% 0;
    border-radius: .3rem;
    font-weight: 600;line-height: 1.5;letter-spacing: .3px;
    
    transition: all .3s;
    animation: attractive-open 1s 2.9s cubic-bezier(.39,1.27,.77,1.25) forwards; 
}
.atractive a:hover{
    letter-spacing: 2px;
    background: transparent;
    color: var(--background-light);
}
.atractive a::before{display: none};

@keyframes back-to-default{
    from{
        transform: translateY(100%);
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.ver-line-bold{
    position: relative;
    height: 50vh;
    width: 8px;
    background-color: var(--primary-color);
    margin: 0 3vw 0 7vw;
    z-index: 1;
    animation: header-line-in 1.8s ease-in-out forwards;   
}


@keyframes header-line-in{
    0%{
        transform: translateX(510px);
    }

    100%{
        transform: none;  
    }
}

.ver-line-bold-mobile{
    display: none;
    position: relative;
    height: 10px ;
    width: 550px;
    background-color:var(--primary-color);
    animation: header-mobile-in 1.8s ease-in-out forwards;
    z-index: 1;   
}

.ver-line-bold-mobile::before{
    content: '';
    position: absolute;left: 0;bottom: 0;
    width:100%; height: 0;
    transform: translateY(100%);
    background-color: #121212;
    animation: header-mobile-in-befo 1.8s ease-in-out forwards;
}

@keyframes header-mobile-in{
    from{
        transform: translateY(-300px);
    }
}

@keyframes header-mobile-in-befo{
    0%{
        height: 30vh;
    }
    100%{
        height: 0;
    }
}
/*Cards-------------------------------------------------------------------------------------------------*/
.student-life{
    display: flex; justify-content: space-around; align-items: flex-start;
    text-align: center;
    min-height: 20vh; width: 100%;
}

.student-life img{
    color: #121212;
    width: clamp(240px,18vw,700px);
    object-fit: cover;
}
// .student-life-img{
//     position: relative;
//     width: 50%;height: 500px;
//     background: url(/assets/images/student-life/a4.jpg) center center;
//     box-shadow: inset 0 0 10px 10px var(--background-light);
//     background-size: cover;
//     border-radius: 25px;
// }
// .student-life-img::before{
//     content: '';
//     position: absolute;
//     height: 100%;
//     width: 50%;
//     background:linear-gradient(to right,#e8e6e900,#e8e6e900,var(--background-light));
// }

.student-life-text{
    width: 50%; height: 100%;margin: 2% 0;
    font-size: 20px;
    letter-spacing: 1.27px;
}

.student-life-text h2{
    font-family: var(--exported-font);color: var(--primary-strong);
    text-transform: uppercase;
}
.student-life-text p{
    padding: 2% 5%;
    margin-bottom: 5%;

}
.student-life-text a{
    color: white;
    background: var(--primary-strong);
    padding: .5rem 1rem;
    border-radius: .3rem;font-weight: 500;
}
.student-life-text a:hover{
    color:var(--primary-strong);
    background:transparent;
    border: 1px solid var(--primary-strong);
    padding: .5rem 1rem;letter-spacing: 2px;
}
.student-life-text a::before{display: none;}

/*Advantages-------------------------------------------------------------------------------------------------*/
.advantages{
    display: flex;flex-direction: column;justify-content: center;align-items: center;
    width: 100%;
    padding: 5%;
}

.advantages .title{
    margin-bottom: 2%;
    font-size: 2rem;
    color: var(--primary-strong);
}

.advantages-cards{
    display: flex; justify-content: center;flex-wrap: wrap;
    height: 100%;width: 100%;gap: 50px;
}

.advantages-cards div{
    max-width: 250px;
    text-align: center;
    cursor: pointer;
    transition: all .5s;
}
.advantages-cards div h4{
    color: var(--primary-strong);
}

.advantages-cards div:hover{
    border-radius: 10px 10px 0 0;
    transform: translateY(-3%);
}

.advantages-cards div img{
    height: 150px;
}


/*Cards-------------------------------------------------------------------------------------------------*/

.final-main-text h4{
    margin-top:5rem;
    color: var(--primary-strong); 
    font-weight: 400;
    font-size: clamp(1.8rem,3vw,5rem);
}

.final-main-text a{
    font-size: clamp(2rem,4vw,5rem);color: black;
}


/*-------Ads-------*/
.top-return{
    position: sticky;
    top: 93vh;
    margin: 0.5%;
    float: right;
    height: 6vh;
    width: 6vh;
    background: rgba(0, 0, 0, 0.8) url(/assets/Icons/icons8-chevron-96.png) no-repeat center;
    background-size: 70%;
    border-radius: 30%;
    transition: 1s;
    cursor: pointer;
}

.top-return:hover{
    transform: rotate(360deg);
    
}
/*-------Ads-------*/
/*Responsividade*/

@media (max-width:1000px)
{
    header{justify-content: center;}
    .atractive{flex-direction: column-reverse;text-align: center;}
    .atractive p{margin:0 auto;}
    .atractive a{margin: 22px auto;}
    .student-life-text p{
        padding: 0;
    }

    .ver-line-bold{display: none};
    .ver-line-bold-mobile{display: block;}
}
@media (max-width:800px){
    .student-life img{
        display: none;
    }
    .student-life-text{width: 100%;}
    .student-life-text p{padding: 2%;}
}
@media (max-width:600px){
    .ver-line-bold-mobile{display: none;}
}


/*@media (prefers-color-scheme:dark){
  *  body{
        background: var(--background-dark);
    }
    p{
        color: #e8e6e9;
    }
}
*/