@import url(default/style.css);
@import url(default/navbar.css);
@import url(default/footer.css);
/*-------------------------------------------Big-Fathers-----------------------------------------------------*/
/*--------------Variables--------------*/
:root{
    --bg-sl:#e6e6e6;
    --bg-pure-white:white;
    --sl-text-light:white;
    --sl-text-light1:#f8f8f8;
    --sl-text-dark:black;
    --sl-text-dark1:#121212;
    --sl-text-dark2:#323232;
    --sl-par-size:1.125rem;
    --sl-title-size:clamp(2rem, 1.5vw + 1rem, 6rem);
    --sl-font-size:clamp(1rem, .8vw + .5rem, 3rem);
    --header-btn-hover:#363636;
    --animation-pure-white:white;
    --primary-strong2:#00614c;
    /*------navbar------*/
    
}
/*--------------Prefer colors--------------*/
@media (prefers-color-scheme:dark){
    body{
        background: var(--background-dark);
        color: var(--sl-text-light1);
    }
}
@media (prefers-color-scheme:light){
    :root{
        --text-color:black;
    }
    body{   
        background: var(--background-light);
        color: var(--sl-text-dark1);
    }
}
/*--------------code--------------*/
    .sobre{
padding-top: 10vh;
    }