@import url(default/style.css);
@import url(default/navbar.css);
@import url(default/footer.css);
/*-------------------------------------------Big-Fathers-----------------------------------------------------*/
/*--------------Variables--------------*/
:root{
    --bg-sl:#e6e6e6;
    --bg-pure-white:white;
    --sl-text-light:white;
    --sl-text-light1:#f8f8f8;
    --sl-text-dark:black;
    --sl-text-dark1:#121212;
    --sl-text-dark2:#323232;
    --sl-par-size:1.125rem;
    --sl-title-size:clamp(2rem, 1.5vw + 1rem, 6rem);
    --sl-font-size:clamp(1rem, .8vw + .5rem, 3rem);
    --header-btn-hover:#363636;
    --animation-pure-white:white;

    --primary-strong2:#00614c;
}
/*--------------Variables--------------*/
/*--------------Mouse--------------*/
.mouse{
    position: absolute;
    transform: translateX(-50%,-50%);
    height: 1px;width: 1px;border-radius: 50%;
    top:-101%;left: -101%;
    box-shadow: 0 0 50px 20px rgba(255, 255, 255, 0.2);
    pointer-events: none;
}

/*--------------End-Mouse--------------*/

//Default
.hide{
    display: none;
}
//Default
body{
    background: tomato;
}
/*-------------------------------------------Header-----------------------------------------------------*/
header{
    background: var(--background-dark) linear-gradient( to bottom, #030616, #091241);
    display: flex;align-items: center;justify-content: center;
    height: 49vh;width: 100%;
    gap: 5%;padding: 0 10%;
    animation:city_lights 4s alternate infinite;
}

@keyframes city_lights{
    to{
        filter: brightness(1.5);
    }
}

.header-text {
    text-transform: uppercase;
    font-size: 2vw;
    position: relative;
    width: 67%;
    text-align: center;
   
}

.header-text h1{
    display: none;
    width: 100%;height: 100%;
    transition: .5s;
    font-size: clamp(2rem, 2vw + 1rem, 5vw);
    color: var(--sl-text-light);
    animation: in-out 4s alternate infinite;
}
@keyframes in-out{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.header-text h1.selected {display: block;}

header img{
    width: 23%;
    animation: shining 4s alternate infinite;
}
@keyframes shining{
    from{
        filter: none;
    }
    to{
        filter: drop-shadow(0 0 20px var(--animation-pure-white));
    }
}
/*End-Header-------------------------------------------------------------------*/

/*Header-bottom----------------------------------------------------------------*/
.header-areas{
    position: relative;
     width: 100%;
    padding: 0 5%;/*gap:1vw;*/
    background: var(--background-dark);
    display:flex;align-items: center;justify-content: center; flex-wrap: wrap;
    scroll-margin: 350px;    
}

.header-areas button{
    height: 6vh;min-width: 130px;
    padding: 0 .5vw;
    background: transparent; 
    transition: .3s;
    cursor: pointer;
}
.header-areas button a{
    height:100%;width:100%;
    font-size:clamp(.8rem,.8vw,10vw);
    font-weight: 600;
    text-align: center;
    color: var(--sl-text-light);
    display: block;
    line-height: 6vh;
}
.header-areas button a:hover{
    background: var(--header-btn-hover);
}
.header-areas button a:focus{
    background: var(--bg-pure-white);
    box-shadow: 0 0 10px -2px lightgray;
    color: var(--sl-text-dark);
}

/*header Links onclick----------------------------------------------------------------*/
.header-links:target{height: auto;padding:1% 3rem;gap: 2rem;}
/*Header-Links----------------------------------------------------------------*/
.header-links{
    position: absolute;
    top: 100%;left: 0;
    height: 0;width: 100%;
    background: white;
    color: #121212;
    box-shadow: 0 5px 5px -3px lightgray;
    display: flex;overflow: hidden;
    padding:0 3rem;gap: 2rem;
    transition: .3s;
    z-index: 5;
    scroll-margin: 300px;
}
.header-links h3{
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: black;
}
.header-links a{
    position: relative;
    display: block;
    margin: 5px 0;width: fit-content;
    font-size: .9rem;color: #121212;
    transition: .5s;
}
.header-links .fi-rr-cross-small{
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 2.5vw;
    cursor: pointer;
}
.header-links a:active{
    color: red;
}
.header-links a::before{
    content: '»';
    color: var(--primary-strong);
    padding-right: 5px;
    position: static;
    background: local;
}
.header-links a:hover::after{
    content: '';
    position: absolute;
    top: 100%;left: 0;
    width:100%;height: 1px;
    background: var(--primary-strong);
}
/*header Links onclick----------------------------------------------------------------*/
// .header-areas button:nth-child(1):focus ~ .header-links:nth-of-type(1){height: auto;padding:1% 3rem;gap: 2rem;}
// .header-areas button:nth-child(2):focus ~ .header-links:nth-of-type(2){height: auto;padding:1% 3rem;gap: 2rem;}
// .header-areas button:nth-child(3):focus ~ .header-links:nth-of-type(3){height: auto;padding:1% 3rem;gap: 2rem;}
// .header-areas button:nth-child(4):focus ~ .header-links:nth-of-type(4){height: auto;padding:1% 3rem;gap: 2rem;}
// .header-areas button:nth-child(5):focus ~ .header-links:nth-of-type(5){height: auto;padding:1% 3rem;gap: 2rem;}
// .header-areas button:nth-child(6):focus ~ .header-links:nth-of-type(6){height: auto;padding:1% 3rem;gap: 2rem;}
// .header-areas button:nth-child(7):focus ~ .header-links:nth-of-type(7){height: auto;padding:1% 3rem;gap: 2rem;}
/*section-student-life----------------------------------------------------------------*/
.student-life{
    padding: 5%;
    background: var(--bg-sl);
}

.student-life > h2{
    margin: auto;padding-top: 5%;
    display: flex;justify-content: center;align-items: center;
    text-transform: uppercase;
    font-size: clamp(1.8rem, 2rem + 1vw, 6rem);
}

.student-life > h3{
    margin: auto;padding-top: 5%;
    display: flex;justify-content: center;align-items: center;
    text-transform: uppercase;
    font-size: larger;
}
/*--------Student-Life--------*/

/*---progress-bar*/

.progress-bar{
    width: 100%;
    margin: 2%;
    
    display: flex;align-items: center;justify-content: center;
}


/*inputs*/
.beg, .int, .pro{position: absolute;opacity: 0;pointer-events: none;}
/*end-inputs*/

.circle{
    position: relative;
    height: 6vw;width: 6vw;border-radius: 50%;
    background: var(--bg-sl); cursor: pointer;
    box-shadow: 
    0px 0px 0px 3px var(--bg-sl),
    0px 0px 0px 5px var(--primary-strong);
}
.circle::before{
    content: '';
    position: absolute;
    left: 50%;top:50%;transform: translate(-50%,-50%);
    background: white;box-shadow: 0 0 0 2px var(--primary-strong);
    height: 70%;width: 70%;border-radius: 50%;
    transition: .3s;
}

.circle::after{
    content: 'Intermitente';
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.225rem;
    font-family: 'poppins';
}

.nv1-circle::after{content: 'Iniciante';position: absolute;top: 130%;}
.nv2-circle::after{content: 'Intermediário';position: absolute;top: 130%;}
.nv3-circle::after{content: 'Avançado';position: absolute;top: 130%;}

.bar{
    background: white;
    background-size: 60%;
    height: 20px;width:20vw ;
    margin-inline: -.5%;
}


/*circle-mark*/
.beg:checked ~ .nv1-circle::before{
    background-color: var(--primary-strong);
}
.int:checked ~ .nv2-circle::before{
    background-color: var(--primary-strong);
}
.pro:checked ~ .nv3-circle::before{
    background-color: var(--primary-strong);
}
/**/

#int:checked ~ .n1-bar{
    background: var(--primary-strong);
}
#pro:checked ~ :is(.n2-bar, .n1-bar) {
    background: var(--primary-strong);
}

/**/



/*---Cards---*/
.sl-card{
    position: absolute;left: 0;top: 0;
    display: flex;align-items: center;justify-content: space-around;
    padding:2%;margin:4%;border-radius: 15px;
    opacity:0;pointer-events: none;
    scroll-margin: 350px;
    background:linear-gradient(to bottom,var(--primary-strong),var(--primary-strong2));
}

.sl-card i{
    font-size: 4vw;
}

/*---Cards-text---*/
.text{
    padding: 2%;
    font-size: var(--sl-font-size);
    color: var(--sl-text-light1);
}

.text h3{
    font-size: var(--sl-title-size);
}
.text a{
    position: absolute;
    right: 2vw;
    top: 2vh;
    height: auto;width: auto;
    cursor: pointer;
    pointer-events: all;
    font-size: 1.5vw;
    color: #121212;
}

.text li{
    list-style-type: disc;
    padding-left: 2rem;
}
/*---Cards-Img---*/
.sl-card img{
    width: min(40%, 500px);
}
/*---Cards-selecionados---*/
.sl-card:target{
    position: relative;
    animation: show-card .7s forwards;
}

@keyframes show-card{
    to{
        opacity: 1;
    }
}
/*Responsividade*/


@media (max-width:800px){
    .mouse{display: none;}
}