<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós - Newron</title>
    <!-------CSS------->
    <link rel="stylesheet" href="../style/about_us.css">
    <!-------Logo Icon------->
    <link rel="icon" href="../src/logo/logo_inverted_no_content.png" type="image/icon type">
    <!-------CSS Icons------->
    <link href="../src/icons/uicons-regular-rounded/css/uicons-regular-rounded.css" rel="stylesheet">
    <link href="../src/icons/uicons-brands/css/uicons-brands.css" rel="stylesheet">
    <!-----Vue Framework----->
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
   <div class="loader"></div><script src="../script/preloader.js"></script>
   <!-------Top-Return------->
   <span id="top-return" style="position:absolute;"></span>
   <!-------Navbar------->
   <div class="navbar"></div> <script src="../components/navbar.js"></script>
   <!-----End-Navbar----->
   <main>
      <section class="sobre">
         <h1>Missão</h1>
         <p>A Missão da Newron é guiar jovens e pessoas que querem trilhar um caminho profissional com uma maior organização,
            junto da plataforma Student Life que os facilita a entender o que são necessarias para seguir sua carreira desejada,
            com uma trilha de ensinos feita para cada tipo de carreira dentro do mercado de trabalho, e até mesmo para trabalhar
            como um free lancer de alguma área, o Student Life ajuda você a focar no que é mais importante na carreira escolhida.</p>

            <h1>Visão</h1>

         <p>A Newron não pode ficar estagnada, a plataforma tem o objetivo de se extender para o Brasil inteiro, mas o objetivo principal é que todos tenham acesso a pagina, sem custos para aqueles que querem melhorar em seu âmbito profissional.
            A plataforma deve se expandir pelo mundo, ajudando o maximo de jovens e adultos de forma gratuita para o usuário final.
            </p>

            <h1>Valores</h1>

            <p>Essa é uma plataforma que se empenha em seu Planejamento e Acessibilidade, 
            se manter livre de custos para o usuario final enquanto oferecemos um bom planejamento de carreira é nosso primeiro e mais importante objetivo da Newron.</p>
      </section>
   </main>
</body>

</html>