/*Footer-------------------------------------*/
footer {
    width: 100%;
    background-color: black;
    overflow: hidden;
  }
  
  footer h3 {
    color: white;
    font-weight: 500;
  }
  
  footer :is(p, a){
    color: #c6c6c6;
    display: block;
  }
  
  footer a:hover {
    -webkit-filter: brightness(1.5);
    filter: brightness(1.5);
  }
  
  .footer-components {
    margin: 0 2.5%;
    padding-top: 1%;
  }
  
  /*Footer Content-------------------------------------*/
  .footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 2% 0;
  }
  
  .footer-left, .footer-center, .footer-right{
    width: clamp(300px, 25vw, 100vw);
    margin: 2%;
  }
  /*Footer Left-------------------------------------*/
  /*Footer Center-------------------------------------*/
  .footer-center {
    display: flex;
    flex-direction: column;
  }
  
  .footer-colaboradores {
    height: 4vh;
    display: inline-block;
  }
  
  .footer-colaboradores img {
    height: 100%;
  }
  
  /*Footer right-------------------------------------*/
  .footer-right a:nth-child(1) {
    color: var(--primary-strong);
    display: inline;
  }
  

  /*Footer Media-------------------------------------*/
  .footer-media {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .footer-media i {
    height: 4vh;
    transition: color .1s,text-shadow .05s;

  }
  
  .footer-media a:hover {
    -webkit-transform: scale(120%);
    transform: scale(120%);
  }
  
  .footer-media a:nth-of-type(1):hover {
    color: #1877f2;
    text-shadow: 0 0 30px #1877f2, 0 0 5px black;
  }
  
  .footer-media a:nth-of-type(2):hover {
    color: #d14090;
    text-shadow: 0 0 30px #d14090, 0 0 5px black;
  }
  
  .footer-media a:nth-of-type(3):hover {
    color: #0e76a8;
    text-shadow: 0 0 30px #0e76a8, 0 0 5px black;
  }
  
  .footer-media a {
    margin: 0 1%;
    font-size: 1.27rem;
  }
  
  /*Footer End-------------------------------------*/
  .footer-line {
    height: 2px;
    width: 100%;
    background-color: var(--primary-color);
  }
  
  .end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1%;
    height: 6vh;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
  }
  
  .end p {
    color: #a6a6a6;
  }
  
  .end a {
    height: 75%;
    margin: 0 .5em;
  }
  
  .end a img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    height: 100%;
    cursor: pointer;
  }