@import url(../default/style.css);

/*-------variables-------*/
:root {
	--text-color: white;
	--effect-color: white;
	--submenu-text-color: white;
	--search-text-color: white;
}

/*------------------------------------------------------Navbar------------------------------------------------------*/
/*-------User-Color-------*/
@media (prefers-color-scheme:light) {
	:root {
		--text-color: #121212;
	}
}
@media (prefers-color-scheme:dark) {
	:root {
		--text-color: #f5f5f5;
	}
}
/*-----Default-----*/
.navbar :is(ul,li){list-style: none;}

.navbar-top {
	position: absolute;
	top: 0;left: 0;height: 10vh; width: 100%;
	display: flex;justify-content: center;
	z-index: 1;
}

.navbar-top .nav-components{
	height:100%;width: 98%;
	display:flex;justify-content:space-between;align-items:center;
}
/*-----Navbar-left-----*/
.navbar-top .nav-left{display: flex;align-items: center;height: 100%;}

.navbar-top .nav-logo {height: 100%;}

.navbar-top .nav-logo img{animation: shining 4s alternate infinite linear;height: 100%;}

@keyframes shining {
	from {filter: drop-shadow(0 0 3px var(--effect-color));}

	to {filter: drop-shadow(0 0 30px var(--effect-color));}
}

.navbar-top .nav-links{
	display: flex;align-items: center;gap: 20px;
	height: 100%;
}

.navbar-top .nav-links :is(a,ul){
	position: relative;
	min-width: 150px;
	font-weight: 600;
	text-align: center;
	color: var(--text-color);
	cursor: pointer;
	transition: all .3s;
}
/*-----Links-Decoration-----*/
.navbar-top .nav-links :is(a,ul):hover{color: var(--primary-low);backdrop-filter: blur(10px);}
.navbar-top .nav-links :is(a):hover{text-shadow: 0 0 20px var(--primary-low);}
/*-----submenu-----*/
.navbar-top .nav-links li{
	position: absolute;width: 100%;height: 0;overflow: hidden;
	font-size: 1rem;
	left: 50%;transform: translateX(-50%);
	transition: height .8s,background .8s;
}
.navbar-top .nav-links ul:hover{
	background: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 10px #121212;
	backdrop-filter: blur(10px);
	
}
/*-----Effect-Show-Submenu-----*/
.navbar-top .nav-links ul:hover > li{
	height:100%;
	background: rgba(0, 0, 0, 0.1);
}
/*-----Dividing line over links-----*/
.navbar-top .nav-links .navtop-line{width: 1px;height: calc(var(--default-text-size) + 10%);background: gray;}

/*Navtop-right---------------------------------------------*/
.navbar-top .nav-right{
	display: flex;align-items: center;
	height: 100%;
}
/*-----Search Icon-----*/
.navbar-top .nav-right i{cursor: pointer;color: var(--text-color);}
/*-------Nav-User------*/
.navbar-top .nav-user{display: flex;gap: 10px;}

.navbar-top .nav-user a{color: var(--text-color);}
.navbar-top .nav-user a:hover{color: var(--primary-low);}
.navbar-top .nav-user img{height: 3vh;border-radius: 50%;}


/*Nav-Mobile---------------------------------------------------------------*/


/*resolution adaptability*/
@media (max-width:1000px) {
	.navbar-top .nav-links{gap:0;}
}

@media (max-width:800px) {
	.ver-line-bold {display: none;}
	.ver-line-bold-mobile {display: block;}
}